
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,500;1,400&family=Roboto:ital,wght@1,400;1,500&display=swap');

.header{
    background-color: #faf9f9cf;
    padding-left: 20px;
} 
.info-text{
    border: 1px solid rgba(188, 188, 188, 0.598) ;
    border-radius: 20px;
    background-color: rgb(239, 239, 239);
    font-family:  Open+Sans, Tahoma, sans-serif;
    font-size: 19px;
    font-weight: normal; 
    font-style: italic; 
    color:  #0f141e;    
}
 
.body{
    background: #eee;
    font-family:  Roboto, sans-serif;
    font-size: 17px;
    font-weight: normal;
    line-height: normal;
}
.text h4 em {
    color: darkgray;
}
.block{
    background-color:#eee;
    color:blue;
 }
  

